{%- comment -%} Usage:  {%- include post-metadata.html post=post -%}
{%- endcomment -%}
    <span class="post-meta">
      Posted 
      <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%Y %b %-d" -%}
        {{ post.date | date: date_format }}
      </time>
      {%- if post.categories.size != 0 %} in
         {% for cat in post.categories -%}
             {{ cat }} 
         {% endfor -%}
      {%- endif -%}
      {%- if post.author -%}
        by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ post.author }}</span></span>
      {%- endif -%}
      {%- if post.tags.size != 0 %} &nbsp;||&nbsp; Tags:
         {% for tag in post.tags -%}
             {{ tag }} 
         {% endfor -%}
      {%- endif -%}
    </span>

