<!-- Sidebar links -->

{% for item in site.data.sidebar %}
  {%- if item == "hr"-%}
    <hr>
  {%- elsif item == "p" -%}
    <p>
  {%- elsif item.link -%}
    <a href="{{ item.link }}" {% if item.link == page.url %}class="active"{% endif %}>
      {%- if item.style -%}
         <span class="{{%- item.style -%}}">{{ item.text }}</span>
      {%- else -%}
         {{ item.text }}
      {%- endif -%}
    </a>
  {%- else -%}
    <p><a name="sb-heading" class="sb-text">
      {%- if item.style %}
         <span class="{{%- item.style -%}}">{{ item.text }}</span>
      {%- else -%}
         {{ item.text }}
      {%- endif -%}
    </a>
  {%- endif -%}
{% endfor %}
