/**
 * Layout with sidebar and main column.
 */

body {
    align-items: center;
}

.outer-box {
    width: 100%;
    min-height: 100vh;
    align: center;
    display: flex;
    flex-direction: row;
    max-width: 960px;
    border: 2px solid green;
}

.content-column {
    width: 100%;
    display: block;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-column {
    display: flex;
    flex-direction: column;
    width: $sb-width;
    //float: right;
}

/**
 * Banner image
 */
.home-page-banner {
    width: 100%;
    height: $sb-width;
    overflow: hidden;
    display: inline;
    align-items: center;
    background-color: $background-color;
    whitespace: wrap;
}


.home-page-banner > img {
    margin: auto;
	
}

.page-banner {
    width: 100%;
    overflow: hidden;
}

/**
 * Site header
 */
.site-header {
  border-top: 1px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  z-index: 2;
  position: sticky;
  top: 0px;
  // you have to set a background color for an element with sticky
  // positioning, otherwise it is transparent and looks like heck.
  background-color: $background-color;
  // Positioning context for the mobile navigation icon
  // position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  background-color: $background-color;
  color: $text-color;
  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Sidebar
 */

/*
 * TODO:  what we need to do for the sidebar when it doesn't fit is shrink it down to a stripe.
 *        When clicked, pop out the sidebar _contents_ 
 */
.sidebar {
  border-top: 1px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  height: 100%;
  width: $sb-width;
  background-color: $sb-background-color;
  color: $sb-text-color;
  text-align: center;
  align-items: center;
  display: block;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.sb-logo-frame {
    height: $sb-width / 1.75;
    width: $sb-width / 1.75;
    border-radius: 100%;
    overflow: hidden;
    display: block;
    margin: auto;
}

.sb-logo-box {
    height: $sb-width;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sb-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  color: $sb-text-color;
  line-height: $base-line-height;
	
  &:visited {
    color: darken($sb-text-color, 15%);
  }
}

.sb-subtitle {
  @include relative-font-size(1.25);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-top: 0px;
  color: $sb-text-color;
  line-height: $base-line-height;
  
  &:visited {
    color: darken($sb-text-color, 15%);
  }
}

.sb-nav hr {
    top-padding: $base-line-height;
    line-height: $base-line-height * $base-font-size * 2.25;
}

.sb-nav a {

  color: $sb-text-color;
  line-height: $base-line-height;
  display: block;
  &:visited {
    color: darken($sb-text-color, 15%);
  }

  &:hover {
    color: $sb-text-color;
    text-decoration: underline;
  }

}

.sb-nav a.active {
    background-color: $sb-text-color;
    color: $sb-background-color;
}

.sb-nav a.sb-text:hover {
    top-margin: 10px;
    color: $sb-text-color;
    text-decoration: none;
}

.sb-nav span {
    // this doesn't work if we try to use a class -- no idea why.
  @include relative-font-size(1.25);
  font-weight: 300;
}

.sb-header {
    // we probably need a media query to make sure we can show everything
    position: sticky;
    top: 0px;
    height: 100%;
}

.sb-nav {
    //height: 100%;
    //width: auto;
    align-items: center;
    display: block;
    
    //border: 1px solid red;
  line-height: $base-line-height * $base-font-size * 2.25;
    
  background-color: $sb-background-color;
  color: $sb-text-color;
  
  .sb-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .sb-page-link {
    color: $sb-text-color;
    line-height: $base-line-height * $base-font-size * 1.25;
    display: block;

  }
  

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $sb-background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="sb-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .sb-triggered {
      clear: both;
      display: none;
    }

    input:checked ~ .sb-triggered {
      display: block;
      padding-bottom: 5px;
    }

    .sb-page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: 0; //$spacing-unit 0;
  margin-top: $spacing-unit / 4;
  
  // there doesn't appear to be any way to keep the footer at the bottom
  // of the screen if the text is short.
  
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
  margin-top: 0;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $text-color;
  margin-left: -$spacing-unit / 2;
  margin-bottom: 0;
  @extend %clearfix;
}

.footer-col {
  float: left;
  //margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

/* This should really be done with flexboxes */

.footer-col-1 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    align-items: center;
    text-align: center;
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
