<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

<body>
<div class="outer-box" id="outer-box">
 {% if site.sidebar_location == "left" -%}
  <div class="sidebar-column" id="sidebar-column">
    {%- include sidebar.html -%}
  </div>
 {%- endif %}
  <div class="content-column" id="content-column"> 
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
  </div>
 {% if site.sidebar_location != "left" -%}
  <div class="sidebar-column" id="sidebar-column">
    {%- include sidebar.html -%}
  </div>
 {% endif -%}
</div>
</body>
</html>
