---
layout: page
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {%- comment -%}
     Note that this layout also works for articles and other collection members.
  {%- endcomment -%}

  {% include post-nav.html %}

  <header class="post-header">
    {%- assign post=page -%}
    {%- include post-metadata.html post=post -%}
    {% comment %}
       By using page as the base style, we achieve a uniform look and don't
       need a heading.
    {% endcomment %}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% include post-nav.html %}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
